html, body {
      height: 100%;
      }

body {
      /*text-align:center;*/
      margin: 50px;
      width: 90%;
      display: table;
      font-weight: 100;
      font-family: "Arial";
      margin: auto;
      background: url('/images/b/rotate.php') no-repeat center top;
      background-color: black;
      color: black;
      text-shadow: antiquewhite;
      background-size: cover;
      }

footer{
      position: sticky;
      float: bottom;
      padding: 20px;
}

.container {
      width: 800px;
      margin: 0 auto; 
      }

#logo {
      width: 500px;
      height: 200px;
      margin: auto;
      }

#create_spaceship {
    /*width: 70px;
    height: 150px;*/
    /*float: left;*/
    float:left;
    text-align:center;
}

#login_raygun {
  /*width: 70px;
  height: 170px;*/
  float:right;
  text-align:center;
}

#rocket {
    width: 70px;
    height: 170px;
    margin: 0;
}

#raygun {
  width: 180px;
  height: 150px;
  margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

li {
    float: left;
    padding: 20px;
}

a {
    display: block;
    width: 150px;
}

#wrapper{
  /*text-align:center;*/
  padding-left: 10%;
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  overflow:auto;
}


