html, body {
      height: 100%;
      }

body {
      margin: 50px;
      padding: 0;
      width: 90%;
      display: table;
      font-weight: 100;
      font-family: 'Lato';
      margin: auto;
      }

footer{
      position: sticky;
      float: bottom;
      padding: 20px;
}

.container {
      margin: auto;
      }

#logo {
      width: 500px;
      height: 200px;
      }

#create_spaceship {
    width: 70px;
    height: 150px;
    float: left;
    position: relative;
    padding-left: 200px;
    margin-bottom: 20px;
}

#rocket {
    width: 70px;
    height: 150px;
}

#login_raygun {
  width: 70px;
  height: 150px;
  float: left;
  position: relative;
  padding: 20px;
}

#raygun {
  width: 160px;
  height: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

li {
    float: left;
    padding: 20px;
}

a {
    display: block;
    width: 150px;
}